@font-face {
    font-family: 'baseballFont';
    src: url('../../assets/fonts/Baseball.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'titlesFont';
    src: url('../../assets/fonts/Athletic.TTF') format('truetype');
  }