<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <ion-item>
    <ion-input labelPlacement="stacked" formControlName="username" type="text">
      {{'login.user'|translate}}
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" formControlName="password" type="password">{{'login.pwd'|translate}}</ion-input>
  </ion-item>
  <div class="ion-text-end">
    <div class="center-button">
      <button type="submit" [disabled]="!form.valid" (click)="onSubmit()">{{'login.submit'|translate}}</button>
    </div>
  </div>
  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
    {{'login.pwdError'|translate}}
  </div>
  <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="error-message">
    {{'login.userError'|translate}}
  </div>
</form>