.center-button {
    text-align: center;
  }
  
  .center-button ion-button {
    --background:#009a44;
    --color: #ffffff;
    text-transform: none;
  }
  
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 2%;
    text-align: center;
  }
  